    /* AUTO=sticky_menu */

@media screen and (min-width: 1025px) {
    .l-top_menu-v2 {
        position: sticky;
        top: 0;
    }
    .l-top_menu-v2 .active .submenu {
        max-height: calc(100vh - 46px);
        overflow: auto;
    }
}


/* Main 1 */

@import url(raw.githubusercontent.com/Kortiego/Shikitest/master/Main.css);

/* Main 2*/

@import url(https://raw.githubusercontent.com/Kortiego/Shikitest/master/main2.css);

/* main 3 */

@import url(https://raw.githubusercontent.com/Kortiego/Shikitest/master/Main3.css);

/* Main edit */

@import url(https://raw.githubusercontent.com/Kortiego/Shikitest/master/Edit.css);

/* Main mob */

@import url(https://raw.githubusercontent.com/Kortiego/Shikitest/master/Mainmob.css);

/* Mob edit */

@import url(https://raw.githubusercontent.com/Kortiego/Shikitest/master/Editmob.css);
.l-footer:after {
    content: "*DZIN DZONG*";
}

@media screen and (min-width: 1px) {
    .correct-mob-version {
        color: normal;
    }
}

.shikista {
    color: white;
}

@media screen and (min-width: 1px) {
    @media screen and (min-width: 1px) {
        html:root {
            --white-color: 236, 220, 198;
            --light-color: 217, 185, 140;
            --dark-color: 165, 127, 74;
            --bright-color: 204, 162, 102;
            --dull-color: 117, 105, 87;
            --input-color: 138, 108, 66;
            --hover-bottoms-1: 48, 36, 18;
            --buttoms-color: 61, 35, 5;
            --hover-buttoms-2: 153, 89, 0;
            --very-high-rating: 150, 114, 64;
            --high-rating: 61, 35, 5;
            --average-rating: 84, 61, 28;
            --small-rating: 57, 41, 19;
            --time-filled: 125, 95, 54;
            --time-empty: 55, 42, 21;
            --anime-inprocess: 69, 146, 76;
            --anime-complete: 41, 107, 47;
            --manga-inprocess: 189, 15, 86;
            --manga-complete: 153, 0, 62;
            --hover-color: 210, 137, 45;
            --shadows-color: 132, 107, 72;
            --block-color: 61, 44, 20;
            --menu-back: 10, 6, 0;
            --nick-cover: 67, 54, 30;
            --popup-color: 37, 27, 14;
            --hundred: 1;
        }
    }
    /* Custom fixes*/
    .p-profiles .profile-head .c-brief .avatar img {
        animation: fly 3s ease-in-out infinite;
    }
    @keyframes fly {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(12px);
        }
    }